.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.guesses {
  margin: 0 10px;
}

.guessHistory {
  width: 100%;
  overflow: auto;
}

.guessBox input {
  display: block;
}

.guessBox input {
  width: 100%;
  margin: 10px 0;
}

.guessApp {
  margin: 0 auto;
  width: 30%;
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.Hot {
  background: red;
  color: white;
}

.Warmer {
  background: orange;
  color: white;
}

.LukeWarm {
  background: blanchedalmond;
  color: black;
}

.Cold {
  background: blue;
  color: white;
}

